.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    display: flex;
    align-items: center;
}

.input {
    margin-right: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
body{
    background: black;
}
.arrow, .checkbox[value="Like"], .checkbox[value="Unlike"] {
    color: white;
}
