html, body {
    height: 100%;
    margin: 0;
    background: url("../img/background.png");
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#test > p {
    padding-right: 10px;

}
.form {
    display: flex;
    align-items: center;
}

form {
    position: absolute;
    left: 50%;
    top: 5%;
}

.btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.arrow, .checkbox[value="Like"], .checkbox[value="Unlike"] {
    color: white;
}

#test {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
}

#test2 {
    margin-top: 30%;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

#test2 > div {
    display: inline-block;
    margin-right: 10px;
}

#test2 img {
    width: 300px;
    height: 300px;
}