html, body {
    height: 100%;
    margin: 0;
    background: url("../img/background.png");
}

#test > p {
    padding-right: 10px;

}
.form {
    display: flex;
    align-items: center;
}

form {
    position: absolute;
    left: 50%;
    top: 5%;
}

.btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.arrow, .checkbox[value="Like"], .checkbox[value="Unlike"] {
    color: white;
}

#moyenne {
color: white;
}

#test {
    color: white;
    width: 500px;
  height: 872px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
