html, body {
    height: 100%;
    margin: 0;
    background: url("../img/background.png");
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.person-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    margin-right: 10px;
}

.input {
    width: 300px;
    height: 30px;
    margin-right: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.screenshotContainer{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 6);
    height: auto;
}

.label {
    color: white;
}
