* {
    background: #0a0a0a;
}
#header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: black;
    border-radius: 10px;
}

#main-amazon {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 20%;
    background-color: black;
    border-radius: 10px;
}

.item-amazon {
    display: flex;
    justify-items: center;
    border: white 2px solid;
}
.item-amazon > p {
    padding-right: 20px;
}

#main-aliexpress {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    border: white 2px solid;
    width: 20%;
    background-color: black;
    border-radius: 10px;
}
.item-aliexpress {
    display: flex;
    justify-items: center;
    border: white 2px solid;
}
.item-aliexpress > p {
    padding-right: 5px;
}
.item-amazon > p {
    padding-right: ;
}
img {
    width: 40%;
    background-color: black;
    border-radius: 10px;
}
p {
    font-size: 20px;
    color: white;
    background-color: black;
}
.search-input {
    border-radius: 10px;
}